<!-- ARTIST NONUSER PAGE -->


<div class="row">
	<div class="col-xs-8">
		<div class="navbar-header">
			<a href="/">
				<img class="artist-title-img" src="/assets/musicmap-title.png" alt="">
			</a>
		</div>
	</div>
	<div class="col-xs-4 navbar-div">
		<form role="form" action="/artist" method="get">
			<input type="text" class="form-control navbar-search" name="query" placeholder="Search">
		</form>
	</div>
</div>


