

<div class="row">
	<div class="col-xs-6">
		<div class="navbar-header">
			<a href="/" action="/welcome" method="get" class="navbar-brand">MusicMap</a>
			<form role="form" action="/artist" method="get" class="navbar-form navbar-left" role="form" action="/artist" method="get"></form>
		</div>
	</div>
	<div class="col-xs-1 navbar-links">
		<%= link_to "Login", login_path, method: :get %>
	</div>
	<div class="col-xs-1 navbar-links">
		<%= link_to "Sign Up", new_user_path, method: :get %>
	</div>
	<div class="col-xs-4 navbar-search">
		<input type="text" class="form-control col-lg-8" name="query" placeholder="Search">
	</div>
</div>
