<div>
	<h4>Welcome <%= current_user.first_name %></h4>
	<%= button_to "logout", logout_path, method: :delete %>
</div>



<div class="container">
		<div class="row">
			<nav class="col-xs-12 navbar-inverse margin-inverse" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<a href="/" action="/welcome" method="get" class="navbar-brand">MusicMap</a>
						<form role="form" action="/artist" method="get" class="navbar-form navbar-left" role="form" action="/artist" method="get">
							<input type="text" class="form-control col-lg-8" name="query" placeholder="Search">
						</form>
					</div>
				</div>