
<!-- <header>
	<div class="container media-width">
		<div class="row">
			<nav class="col-xs-12 navbar-inverse margin-inverse" role="navigation">
				<div class="container">
					<a href="/">
						<img class="title-img" src="/assets/musicmap-title.png" alt="">
					</a>
				</form>
			</div>
		</div>
	</div>
</header> -->


<!-- BACKGROUND SLIDE -->
<div class="background-slideshow">
	<div class="slide"></div>
	<div class="slide"></div>
	<div class="slide"></div>
	<div class="slide"></div>
	<div class="slide"></div>
	<div class="slide"></div>
	<div class="slide"></div>
</div>



<!-- ////////// MIDDLE STACKED ROW SEARCH BAR ////////// -->
<div class="container search-component">
	<div class="title-img">
		<img src="/assets/musicmap-title.png" alt="">
	</div>
	<div class="row">

		<div class="col-sm-offset-2 col-sm-8 col-xs-12 stack">
			
			<div>
				<h2 class="text-center welcome-text">Discover your favorite artists... &nbsp;&nbsp;&nbsp;again.</h2>
			</div>

			<div closs="welcome-form">
				<form role="form" action="/artist" method="get" id="search-form">
					<input type="text" class="form-control main-search-box search-font-color" name="query" placehoder="Search our mousic database!" id="query">
					<!-- <input type="submit" class="form-control main-submit-button" value="Search"> -->
				</form>
				<p id="search-error-msg">
				</p>
			</div>

		</div>

	</div>
</div>



