<!-- <nav class="navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">MusicMap</a>
		</div>
	</div>
</nav> -->

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="text-center welcome-text">Discover your favorite artists... &nbsp;&nbsp;&nbsp;again.<h2>
				</div>
			</div>
		</div>

		<form role="form" action="/artist" method="get">
			<div class="form-group col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 welcome-form">
				<input type="text" class="form-control radius-top" name="query" placehoder="Artist Name">
				<input type="submit" class="form-control radius-bottom" value="Search">
			</div>
		</form>
	</div>
</div>















