<div class="center-error">
	<div class="error-message">
		<h1>Uhohh... No results for your search!</h1>
		<h3 style="color: orange;">Try again</h3>
		<div closs="welcome-form">
			<form role="form" action="/artist" method="get" id="search-form">
				<input type="text" class="form-control main-search-box search-font-color" name="query" placehoder="Search our mousic database!" id="query">
				<!-- <input type="submit" class="form-control main-submit-button" value="Search"> -->
			</form>
		</div>
	</div>
</div>