
.cover {
    display: inline-block;
    background-size: cover;
}

.cover:hover {
    cursor: pointer;
}

.cover.playing {
    border: 2px solid #e45343;
}

.navbar-inverse {
	margin-bottom: 3%;
}





