
.cover {
  display: inline-block;
  background-size: cover;
}

.cover:hover {
  cursor: pointer;
}

.cover.playing {
  border: 2px solid #e45343;
}

img {
	border-radius: 3px;
}

.artist-image {
	max-height: 300px !important;
	float: right !important;
}

.panel {
	padding-top: 8px;
	padding-bottom: 8px;
}

.margin-rows {
	height: 0px;
}


/*tweet display styling*/
blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
border-radius: 3px;
border-style: solid;
border-width: 0px;
margin: 5px auto;
padding: 0 16px 16px 16px;
  max-width: 360px;
background-color: white;
color: darkslategrey;
}

blockquote.twitter-tweet img {
  margin-top: 10px;
}

blockquote.twitter-tweet .tweet-img-left {
  float: left;
  margin-right: 10px;
}

blockquote.twitter-tweet .tweet-text-right {
  margin-top: 10px;
}


/*reddit display styling*/
.reddit {
  float:left;
  clear:both;
  margin-bottom: 20px;
  vertical-align: top;
}


.clearfix {
  overflow: auto;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid gray;
  margin: 0 auto;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid gray;
  margin: 0 auto;
}

.arrow-up-box {
  width: 8px;
  height: 10px;
  background: gray;
  margin: 0 auto;
}

.arrow-down-box {
  width: 8px;
  height: 10px;
  background: gray;
  margin: 0 auto;
  margin-top: -10px;
}

.reddit-ups {
  float:left;
  margin-top: 0px;
  padding: 0px;
}

.reddit-thumbnail {
  float:left;
  margin-left: 10px;
}

.reddit-text {
  float:left;
  margin-left: 10px;
  max-width: 550px;
}

.reddit-title {
  font-size: 20px;
}

.reddit-thumbnail-img {
  width: 80px;
}

.reddit-author {
  margin-top: -10px;
  font-size: 12px;
}

.reddit-comments {
  margin-top: -10px;
  font-size:12px;
}

.artist-name {
  display: inline-block;
  float: left;
}

.artist-like-button {
  display: inline-block;
  margin-left: 30px;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.artist-bio {
  margin-bottom: 20px;
}

.h4-margin {
  margin: 0 0 10px 15px;
}

