.navbar-inverse {
	margin-bottom: 20px;
}

.welcome-text {
	margin-top: 40px;
	margin-bottom: 40px;
/*	font-size: 37px;*/
}

.main-search-box {
	border-radius: 4px 4px 0px 0px !important;
	height: 80px;
	font-size: 35px;
	color: white;
	width: 650px !important;
	background-color: white;
	text-align: center;
	width: 50%;
	margin: 0 auto;

}

.main-submit-button {
	border-radius: 0px 0px 4px 4px !important;
	font-size: 20px !important;
	height: 55px;
	width: 650px !important;
	width: 50%;
	margin: 0 auto;
/*	background-color: #aa3939;*/
	background-color: #00bc8c;
	color: white;

}

.all-tiles img {
	min-width: 98px;
	min-height: 98px;
	max-height: 98px;
	max-width: 98px;
	border-radius: 0px;
	border-width: 0px;
}

.stack div {
	width: 100%;
	margin-left: -15px;
}


