.navbar-brand {
	font-size: 25px;
	letter-spacing: 5px;
	background-color: transparent;
}

.navbar-inverse {
	margin-bottom: 20px;
}

.welcome-text {
	margin-top: 70px;
	margin-bottom: 45px;
	color: white;
}

.main-search-box {
	border-radius: 4px 4px 4px 4px !important;
	height: 75px;
	font-size: 35px;
	width: 625px !important;
	background-color: white;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	color: darkslategrey !important;
}

.all-tiles img {
	min-width: 98px;
	min-height: 98px;
	max-height: 98px;
	max-width: 98px;
	border-radius: 0px;
	border-width: 0px;
}

.stack div {
	width: 100%;
	margin-left: -15px;
}

.navbar-links {
	margin-top: 20px;
}

.navbar-search {
	margin-top: 8px;
	width: 350px;
}

.navbar-search-font {
	font-size: 20px !important;
}

.view-profile {
	display: inline-block;
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 0px 80px;
/*	background-color: red;
*/}

.logout {
	display: inline-block;
	margin: 20px 0px 0px 0px;
/*	background-color: blue;
*/	padding: 0px 0px 0px 10px;

}

.current-users-name {
	display: inline-block;
	margin: 18px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	/*	background-color: red;*/
	font-size: 18px !important;
}
