<!DOCTYPE html>
<html>
<head>
	<title>DiscOvery</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<nav class="navbar-inverse margin-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">MusicMap</a>
					<form class="navbar-form navbar-left">
						<input type="text" class="form-control col-lg-8" placeholder="Search">
					</form>
				</div>
			</div>
		</nav>
	</div>
	<%= yield %>
</body>
</html>
